.face {
  background-color: #ffd665;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
}

.righteyebrow1 {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  width: 12%;
  height: 6%;
  background-color: black;
  top: 5%;
  left: 66%;
  margin: 0 auto;
  position: absolute;
}
.righteyebrow2 {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  width: 10%;
  height: 5%;
  background-color: #ffd665;
  top: 7%;
  left: 67%;
  margin: 0 auto;
  position: absolute;
}

.lefteyebrow1 {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  width: 12%;
  height: 6%;
  background-color: black;
  top: 5%;
  left: 21%;
  margin: 0 auto;
  position: absolute;
}
.lefteyebrow2 {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  width: 10%;
  height: 5%;
  background-color: #ffd665;
  top: 7%;
  left: 22%;
  margin: 0 auto;
  position: absolute;
}

.lefteye {
  background-color: #000000;
  border-radius: 50%;
  width: 15%;
  height: 22%;
  top: 24%;
  left: 21%;
  margin: 0 auto;
  position: absolute;
  -webkit-transform: rotate(9deg);
  animation: blink 3s infinite;
}
.righteye {
  background-color: #000000;
  border-radius: 50%;
  width: 15%;
  height: 22%;
  top: 24%;
  left: 64%;
  margin: 0 auto;
  position: absolute;
  -webkit-transform: rotate(-9deg);
  animation: blink 3s infinite;
}

.mouth {
  width: 24%;
  height: 42%;
  top: 50%;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  left: 50%; 
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
 // animation: mouth-rotation 2s 1s infinite alternate;  
}

@keyframes blink {
  0% {
    height: 22%;
    top: 24%;
  }
  10% {
    height: 2%;
    top: 30%;
  }
  20% {
    height: 22%;
    top: 24%;
  }
  100% {
    height: 22%;
    top: 24%;
  }
}

@keyframes face-size {
  from {    
    height: 200px;
    width: 200px;
  }  
  to {    
    height: 400px;
    width: 400px;
  }
}

@keyframes mouth-rotation {
  50%  {
  width: 40%;
  height: 10%;
  top: 55%;
  left: 26%;
  margin: 0 auto;
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom-color: black;
  }
  0%  {
  width: 40%;
  height: 5%;
  background-color: black;
  top: 65%;
  left: 30%;
  margin: 0 auto;
  position: absolute;
  }
  100% {  
  background-color: black;
  border-radius: 50% 50% 0 0;
  width: 20%;
  height: 20%;
  top: 60%;
  left: 40%;
  margin: 0 auto;
  position: absolute;
  }
}